@charset "UTF-8";
/**
 * @authors cnzsb
 * @email   cnzsb@foxmail.com
 * @date    2016-03-20 17:53:13
 */

html {
	cursor: url(http://www.zhaoshibo.net/fancybox/cursor.ico), auto;
}

body {	background-color: #E9FCFF;}

/* 鼠标选择颜色 */
::selection {
    color: #FFF;
    background-color: #19caad;
}
::-moz-selection {
    color: #FFF;
    background-color: #19caad;
}

/* header start */
#header {
	display: block;
	height: 39px;
	text-align: right;
	border-bottom: 1px solid #ccc;
}
#header a {
	font-size: 18px;
	line-height: 40px;
	padding: 0 10px;
	color: #09A8FF;
}
#header a:hover {
	border-bottom: 2px solid #09A8FF;
}
#header .avatar {
	display: block;
	padding-left: 20px;
	width: 40px;
	height: 40px;
	background: url(http://www.zhaoshibo.net/avatar.jpg) center center no-repeat;
	background-size: 30px 30px;
	cursor: pointer;
}
#header-m {
	display: none;
}

/* header end */

.main-wrapper {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.main-title {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.4em;
	text-align: left;
	padding-left: 5%;
	color: #19caad;
	text-shadow: 2px 2px 2px #AEA2A2;
}

/* 每期任务 */
.task {
	margin-bottom: 20px;
	padding: 10px 0;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}

/* 每期任务主标题 */
.task-main-title {
	font-size: 30px;
	font-weight: normal;
	line-height: 60px;
	border-bottom: 1px solid #eee;
}

/* 当期任务下的阶段 */
.task-section {
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	font-size: 18px;
	text-align: left;
}

/* 当前阶段标题 */
.task-section li:first-child {
	font-size: 24px;
	padding-bottom: 10px;
}

/* 当前阶段任务展示 */
.task-section li {
	line-height: 30px;
}

.task-section li a {
	font-weight: bold;
	color: #09A8FF;
	text-decoration: underline;
	padding: 0 5px;
}

.task-section li a:visited {
	color: #0490A5;
}