@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, a {
  font-family: "黑体";
  color: #636363;
}

/*
	color
*/
.top-bar {
  background-color: #91d4da;
  position: relative;
  line-height: 1.6rem;
  padding: 0.5rem 2px;
}
.top-bar .return {
  display: inline-block;
  font-size: 16px;
  color: #FFF;
  position: absolute;
  left: 0.5rem;
}
.top-bar .return img {
  width: auto;
  height: 1.5rem;
  margin-bottom: -0.4rem;
}
.top-bar h2 {
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
  text-align: center;
}

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
nav a {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
  font-size: 16px;
  line-height: 2.5rem;
}
nav a.active, nav a:hover {
  border-bottom: 4px solid #91d4da;
}

.banner img {
  width: 100%;
  height: 100%;
}

.catalog {
  border-bottom: 8px solid #f5f5f5;
}
.catalog .tags, .catalog .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  padding: 1rem 0.5rem;
}
.catalog .tags li, .catalog .items li {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}
.catalog .tags li .tag-img, .catalog .items li .tag-img {
  display: inline-block;
  width: 100%;
  height: 3rem;
  background: url("../images/item.png") center center/contain no-repeat;
}
.catalog .tags li p, .catalog .items li p {
  margin-top: 0.5rem;
}
.catalog .items {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-top: 2px solid #eee;
}
.catalog .items li {
  -webkit-box-flex: atuo;
  -webkit-flex: atuo;
      -ms-flex: atuo;
          flex: atuo;
  padding: 0 0.2rem;
}
.catalog .items li:not(:last-child) {
  border-right: 2px solid #eee;
}
.catalog .items li .item-img {
  display: inline-block;
  width: 100%;
  height: 6rem;
}
.catalog .items li .item-img.item1 {
  background: url("../images/item1.jpg") center center/contain no-repeat;
}
.catalog .items li .item-img.item2 {
  background: url("../images/item2.jpg") center center/contain no-repeat;
}
.catalog .items li .item-img.item3 {
  background: url("../images/item3.jpg") center center/contain no-repeat;
}
.catalog .items li .item-headline {
  font-size: 20px;
  color: #2c2c2c;
  line-height: 2rem;
}
.catalog .items li .item-subtitle {
  font-size: 16px;
  font-weight: normal;
}

.content-container {
  padding: 0.5rem;
  border-bottom: 8px solid #f5f5f5;
}
.content-container .content-title {
  font-size: 20px;
  color: #2c2c2c;
  line-height: 2rem;
  border-bottom: 2px solid #eee;
  margin-bottom: 0.5rem;
}
.content-container .content {
  padding: 0.2rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content-container .content .content-img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.content-container .content .content-img img {
  width: 6rem;
  height: 6rem;
}
.content-container .content .content-main {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.content-container .content .content-main.content-main-mid {
  margin: 0 0.5em;
}
.content-container .content .content-main li {
  width: 100%;
  font-size: 14px;
  line-height: 2rem;
  background-color: #f8f8f8;
}

.article .article-title h2 {
  font-size: 20px;
  font-weight: normal;
  color: #6b6b6b;
}
.article .article-info {
  font-size: 12px;
  color: #c5c5c5;
}
.article .article-style1 {
  padding: 0.5rem;
  border-bottom: 2px solid #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.article .article-style1 .article-style1-img img {
  height: 5rem;
}
.article .article-style1 dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0.5rem;
}
.article .article-style2 {
  padding: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article .article-style2 .article-style2-img {
  padding: 0.2rem 0;
}
.article .article-style2 .article-style2-img ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.article .article-style2 .article-style2-img ul li {
  margin: 0 0.2rem;
}
.article .article-style2 .article-style2-img ul li img {
  width: 100%;
  height: 100%;
}
