// color

$header-color: #2189BF;
$sidebar-color: #2A2E3D;
$main-color: #EEEEED;
$btn-color: #2189BF;
$border-color: #AAA;

// font-family

$font-ht: "黑体";
$font-st: "宋体";


body {
	font-size: 12px;
	background-color: $main-color;
}

/* icon */

.icon-folder-main {
	list-style-image: url("../images/icon_folder_main.png");
}

.icon-folder {
	list-style-image: url("../images/icon_folder.png");
}

.icon-file {
	list-style-image: url("../images/icon_file.png");
}

.icon-star {
	list-style-image: url("../images/icon_star.png");
}

.icon-anchor {
	list-style-image: url("../images/icon_anchor.png");
}

.icon-account {
	list-style-image: url("../images/icon_account.png");
}
.icon-catalog-arrow {
	float: left;
	width: 11px;
	height: 11px;
	background: url("../images/icon_folder_state.png") left center no-repeat;
	transform: rotateZ(-90deg);
	margin-top: 7px;
	margin-right: 7px;
	transition: all .25s ease-out;
}
.icon-arrow-left {
	background: url("../images/icon_arrow_left.png") center center no-repeat;
}
.icon-arrow-right {
	background: url("../images/icon_arrow_right.png") center center no-repeat;
}
.icon-rmb {
	background: url('../images/icon_rmb.png') left center no-repeat;
}
.icon-calendar {
	background: url("../images/icon_calendar.png") center center no-repeat;
}

/* select-default */

.sl-default {
	height: 26px;
	line-height: 26px;
	appearance: none;
	background: url("../images/icon_select.png") 95% center no-repeat;
	padding-right: 18px;
	padding-left: 8px;
	border: 1px solid #AAA;
	cursor: pointer;

	&:focus {
		background: url("../images/icon_select_selected.png") 95% center no-repeat;
	}

	/* ie */
	&::-ms-expand {
		display: none;
	}
}

/* input-default */

.ip-default {
	width: 96px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #AAA;
	padding: 0 12px;
}

/* button-default */

.bt-default {
	display: block;
	width: 50px;
	height: 26px;
	text-align: center;
	font: 12px/26px $font-ht;
	color: #FFF;
	background-color: $btn-color;
	border-radius: 2px;
	cursor: pointer;

	&:hover {
		opacity: .8;
		filter: alpha(opacity = 80);
	}
}

/* 交换图标 */
.exchange {
	display: block;
	width: 28px;
	height: 38px;
	background: url("../images/icon_exchange.png") center center no-repeat;
	position: absolute;
	top: 9px;
	right: -30px;
	text-align: center;

	a {
		color: #FFF;
		position: absolute;
		top: 5px;
	}
}

/* 区域与标题样式 */
.section {	
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0 0 1px $border-color;
	overflow: hidden;

	.title {
		height: 40px;
		font: 12px/41px $font-ht;
		color: #AAA;
		background-color: #F3F5F6;
		border-bottom: 1px solid #E7E8EB;
		padding-left: 21px;
	}
}